@import "../framework.scss";

.button {
  padding: spacing(-2) spacing(-1);
  display: inline-block;
  border-color: $primaryColor;
  border-width: 2px;
  border-style: solid;
  border-radius: 4px;
  color: $primaryColor;
  text-decoration: none;
  transition: all 0.3s;

  &:hover {
    background-color: $primaryColor;
    color: white;
  }
}