@import "../framework.scss";

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

* {
  box-sizing: border-box;
}

h2 {
  margin-bottom: 0;
  margin-top: spacing(3);
}

footer {
  margin-top: spacing(2);
  margin-bottom: spacing(2);

  @media print {
    display: none;
  }
}

a {
  color: #1a126b;
  :active {
    color: #1a126b;
  }

  &:hover {
    color: $primaryColor;
  }
}

table {
  border-spacing: spacing(-1);
  margin-left: - spacing(-1);
  margin-right: - spacing(-1);

  td {
    vertical-align: top;
  }
  th {
    text-align: left;
  }
}


ul {
  padding: 0 spacing(0);
}

.mainContent {
  margin-left: spacing(3);
  margin-right: spacing(3);
  max-width: $maxWidth;

  @media all and (max-width: $breakpointSmall) {
    margin-left: spacing(1);
    margin-right: spacing(1);
  }

  @media all and (min-width: $maxWidth) {
    margin: auto;
  }

  @media print {
    margin: 0;
  }
}


.header {
  display: flex;
  > :nth-child(1) {
    flex: 2;
    padding-right: spacing(0);
  }
  > :nth-child(2) {
    flex: 1;
  }

  @media all and (max-width: $breakpointSmall) {
    flex-direction: column;
    > :nth-child(1) {
      padding-right: 0;
    }
  }
}

.marginTop {
  margin-top: spacing(0);
}

.two-columns-layout {
  columns: 2 $breakpointSmall;

  > * {
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;
    padding-top: spacing(0);
  }

  h3 {
    margin-top: 0;
  }
}
