@import '../framework.scss';

.project {
  display: flex;
  flex-direction: column;

  &__image {
    padding-top: 66%;
    position: relative;
    overflow: hidden;

    .gatsby-image-wrapper {
      position: absolute !important;
      height: fit-content;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
    }
  }

  &__description {
    flex: 1;
  }

  &__timeframe {
    font-weight: 700;
    margin-top: spacing(-1);
  }

  &__content {
    margin-top: spacing(0);
    margin-bottom: spacing(0);
  }

  &__attributeTitle {
    font-weight: 700; 
  }

  &__button {
    margin-top: spacing(0);

    @media print {
      display: none;
    }
  }
}