@import "../framework.scss";

.workplace {
  display: flex;
  page-break-inside: avoid;

  &__illustration {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    width: spacing(2);
    margin-right: spacing(-3);

    @media print {
      display: none;
    }
  }

  &__line {
    width: 4px;
    background-color: $primaryColor;
    margin: auto;
    flex: 1;
  }

  &__circle {
    fill: $primaryColor;
  }

  &__content {
    display: flex;

    @media all and (max-width: $breakpointSmall) {
      display: block;
    }
  }

  &__timeframe {
    margin-top: 0.5rem;
    width: 150px;
    flex-shrink: 0;
  }

  &__description {
    margin-top: 0.4rem;

    ul {
      padding: 0 spacing(0);
    }
  }

  &__title {
    margin-top: 0;
  }

  &__company {
    font-weight: normal;
  }
}