@import '../framework.scss';

.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;

  & > * {
    width: calc(33% - #{2 * spacing(2)});
    
    @media all and (max-width: $breakpointMedium) {
      width: calc(50% - #{spacing(2)});
    }

    @media all and (max-width: $breakpointSmall) {
      width: 100%;
    }
  }
}