@import '../framework.scss';

.projects {
  display: grid;
  grid-gap: spacing(2);
  grid-template-columns: repeat(3, 1fr);

  @media all and (max-width: $breakpointMedium) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media all and (max-width: $breakpointSmall) {
    display: block;
  }
}